<div *ngIf="game">
    <a>{{game.name}}</a>
    <br>
    <a>Spectator: {{game.spectatorEmployeeName}}</a>
    <br>
    <router-outlet ></router-outlet>
    <ul class="list-group">
      <a class="list-group-item list-group-item-primary" routerLink="event/new" (click)="selectEvent(null)">
        <div>
          <h6 class="mb-1">Add new event</h6>
        </div>
      </a>
      <a *ngFor="let gameEvent of gameEvents$ | async" 
          [routerLink]="['event', gameEvent.id]" 
          (click)="selectEvent(gameEvent.id)"
          class="list-group-item list-group-item-action"
          [class.active]="gameEvent.id === selectedEvent"
        >
        <div class="d-flex justify-content-between">
          <h6 class="mb-1">{{getDescription(gameEvent)}}</h6>
          <small>todo: bind to when event happened</small>
        </div>
        <p class="mb-1">player:{{gameEvent.playerId}}</p>
        <small>team: {{gameEvent.teamId}}</small>
      </a>
    </ul>
</div>
