<h1>Go ESports!</h1>
<p>This samle application is for registering events in a typical Capture-the-Flag FPS game.</p>
<p>The layout is mobile-first and may not look good on a wide screen, I suggest using device emulator in browser</p>
<p>This is just an MVP, so it doesn't have full functionality, tests and is rough around the edges.</p>
<p>This is a list of TODOs, that I would add if I would continue to work on it:</p>
<ul>
  <li>Separate layers in BE: repositories, services, controllers(with almost no code except calls to services)</li>
  <li>Separate request models, dtos and EF entities, map them with automapper</li>
  <li>Do a proper unit testing for services, integration testing for repos(using in-memory DB perhaps)</li>
  <li>For unit testing use NUnit with Moq, AutoFixture with AutoMock</li>
  <li>For the FE part, fix the refresh of the list of events after saving or updating </li>
  <li>Do testing of whatever makes sense</li>
  <li>add global error handling of services to show it as a ribbon or toast</li>
  <li>Add timestamp to the game and gameEvent, sort lists by it, enable user to edit it</li>
</ul>
