<div *ngIf="gameEventForm">
  <form  [formGroup]="gameEventForm" (ngSubmit)="onSubmit()">
    <label>
      Team:
      <select formControlName="teamId">
        <option *ngFor="let team of game.teams" [ngValue]="team.id">
          {{ team.name }}
        </option>
      </select>
    </label>

    <label>
      Player:
      <select formControlName="playerId">
        <option *ngFor="let player of selectedTeamPlayers" [ngValue]="player.id">
          {{ player.name }}
        </option>
      </select>
    </label>
  
    <label>
      Event Type:
      <select formControlName="eventType">
        <option *ngFor="let eventType of eventTypes" [ngValue]="eventType.type">
          {{ eventType.name }}
        </option>
      </select>
    </label>

    <label>
      Notes:
      <input type="text" formControlName="notes">
    </label>
    
  </form>
  
  <hr>
  
  <p>
    Form Value: {{ gameEventForm.value | json }}
  </p>
  
  <p>
    Form Status: {{ gameEventForm.status }}
  </p>
  
  <p>
    <button type="submit" [disabled]="!gameEventForm.valid">Save</button>
  </p>

</div>